<!DOCTYPE html>
<html>
  <head>
    <title>WriteAway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Nothing+You+Could+Do" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Kalam|Condiment|Indie+Flower|La+Belle+Aurore|Patrick+Hand+SC" rel="stylesheet">
  </head>

  <script type="text/javascript">
    <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  </script>

  <body>
    <%= yield %>
  </body>
</html>
